.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E1E3E6;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.movies {
  width: 100%;
  display: inline-block;
  display: grid;
  align-items: center;
  grid-gap: 10px;
  width: fit-content;
  height: fit-content;
}

.movie-card {
  background-color: #fff;
  padding: 10px;
  height: 348px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-radius: 5px;
}

.movie-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie-info {
  margin: 0 0 0 0;
  padding: 5px;
}

.image {
  width: 280px;
  height: 302px;
}

.movie-info {
  white-space: wrap;

}

.modal {
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
}

.modalposter {
  position: absolute;
  width: 266px;
  height: 389px;
  position: absolute;
  padding: 10px;
  height: 348px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  padding: 10px;
  height: 348px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-body {
  position: absolute;
  padding: 10px;
  height: 348px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 15px;
  height: 15px;
  border: none;
  background: url(./Assets/Images/cross.svg);
}

@media screen and (max-width: 480px) {
  .logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media (min-width: 600px) {
  .movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 786px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}