.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  padding: 20px;
}


.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c0c4cc;
}

.logo {
  justify-self: flex-start;
}

.search-bar {
  align-items: center;
  display: flex;
  color: #898e9a;
  margin-left: auto;
}

.search-bar-img {
  width: 16px;
  color: #898e9a;
  position: absolute;
  margin-left: 8px;
}

.search-bar input {
  width: 180px;
  height: 36px;
  padding-left: 30px;
}

.movies {
  width: 100%;
  display: inline-block;
  display: grid;
  align-items: center;
  grid-gap: 25px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
}

.movie-card {
  background-color: #fff;
  /* padding: 10px; */
  height: fit-content;
  /* width: 282px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
  border-radius: 5px;
}

.movie-card:hover {
  /* border: 1px solid ; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie-info {
  margin: 0 0 0 0;
  padding: 5px;
  text-align: center;
}

.image {
  width: 280px;
  height: 302px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-info {
  white-space: wrap;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  max-width: 600px;
  backdrop-filter: black;
  z-index: 1;
  margin-top: 50px;
}

.modal-body {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.modalposter {
  position: relative;
  width: 266px;
  height: 389px;
  padding: 10px;
  height: 348px;
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 15px;
  height: 15px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #141e35;
  background: url(./Assets/Images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rating {
  /* //circle */
  margin: 10px;
  width: 10px;
  height: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-title {
  font-weight: 700;
  line-height: 28px;
}

.modal-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media (min-width: 600px) {
  .movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 786px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .modal-content {
    display: flex;
    flex-direction: column;
  }
}